<div class="main-background">
    <header>
        <img src="/assets/img/logo.png">

        <mat-form-field appearance="outline">
            <mat-label>Pokemon suchen...</mat-label>
            <input [formControl]="query" matInput placeholder="Namen eingeben...">

            <button *ngIf="(query.valueChanges | async)" matSuffix mat-icon-button aria-label="Clear" (click)="query.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
        </mat-form-field>

        <img style="opacity: 0;" src="/assets/img/logo.png">
    </header>

    <div class="pokecontainer">
        <app-pokecard *ngFor="let pokemon of pokemonListFiltered" [pokemon]="pokemon">
        </app-pokecard>
    </div>

</div>